#lodge-photo {
  background-attachment: fixed;
  width: 100vw;
  height: 40vh;
  min-height: 40vh;
  background-position: 50% 170%;
  background-size: cover;
  margin: 0 auto;    
}

body {
  background: #80808047;
  color: #484848;
  font-weight: 100 !important;
}

.container {
  margin: 0 auto;  
  padding: 1em;
  width: auto;
  background: #fff;
  margin-top: -1em;
  max-width: 1200px;
}

.lodge-view {
  display: flex;  
  font-family: 'Open Sans', sans-serif;
}

.flex-left {
  flex: 50%;
  padding: 2em;
}

.flex-right {
  flex: 50%;
  padding: 2em;
}

.flex-right h2 {
  text-align: right;
  text-transform: uppercase;
}

.lodge-name {
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.feature {
  display: flex;
  padding: 8px;
  width: 100%;
}

.feature-item, .feature-description {
  padding: 8px;  
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row-reverse;
  margin-bottom: 1em;
}

.gallery-image {
  height: 100px;
  padding: 8px;
}

.gallery-image img {
  height: 100%;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
  padding-bottom: 14px;
}

h6 {
  font-weight: 500;
}

.about-stay p {
  text-align: justify;
  padding-bottom: 14px;
  font-weight: 300;
}

.lodge-description {
  margin-bottom: 1em;
}

.lodge-capacity {
  margin-bottom: 1em;
}

i {
  font-style: normal;
}


#mobile {
  display: none;
}

@media screen and (max-width: 950px) {
  .lodge-view {
    display: flex;
    flex-direction: column;
  }

  .flex-right h2 {
    text-align: center;
  }

  /* Navigation bar */
  #main {
    display: none;
  }

  #mobile {
    display: flex;
  }

  #mobile ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .gallery {
    max-width: 500px;
  }
}