#lodge-photo {
  background-attachment: fixed;
  width: 100vw;
  height: 40vh;
  min-height: 40vh;
  background-position: 50% 170%;
  background-size: cover;
  margin: 0 auto;    
}

body {
  background: #80808047;
  color: #484848;
  font-weight: 100 !important;
}

.container {
  margin: 0 auto;  
  padding: 0;
  width: auto;
  background: #fff;
  margin-top: -1em;
  max-width: 1200px;
}

.lodge-view {
  display: flex;  
  font-family: 'Open Sans', sans-serif;
}

.flex-left {
  flex: 50%;
  padding: 2em;
}

.flex-right {
  flex: 50%;
  padding: 2em;
}

.flex-right h2 {
  text-align: right;
  text-transform: uppercase;
  background: #2e4c2e;
  padding: 0.5em;
  color: #fff;
}

.lodge-name {
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.feature {
  display: flex;
  padding: 8px;
  width: 100%;
}

.feature-item, .feature-description {
  padding: 8px;  
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row-reverse;
  margin-bottom: 1.5em;
  border: 1px solid #2e4c2e;
}

.gallery-image {
  height: 100px;
  padding: 8px;
  cursor: pointer;
}

.gallery-image img {
  height: 100%;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
  padding-bottom: 14px;
}

h6 {
  font-weight: 500;
}

.about-stay-content {
  padding: 0.5em;
}

.about-stay {
  border: 1px solid #2e4c2e;
}


.about-stay p {
  text-align: justify;
  padding-bottom: 14px;
  font-weight: 300;
}

.lodge-description {
  margin-bottom: 1em;
}

.lodge-capacity {
  margin-bottom: 1em;
}


.booking-container {
  background-color: #2e4c2e;
  padding: 0.5em;
}

.booking-container input {
  padding: 1em;
  width: 45%;
  margin-right: 0.25em;
}

#guest-selector {
  width: 15%;
  height: 40px;
  line-height: 40px;
}

#search {
  width: 15%;
  background: #fff;
  color: #2e4c2e;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
  text-transform: uppercase;
}

i {
  font-style: normal;
}


#mobile {
  display: none;
}

@media screen and (max-width: 950px) {
  .lodge-view {
    display: flex;
    flex-direction: column;
  }

  .flex-right h2 {
    text-align: center;
  }

  /* Navigation bar */
  #main {
    display: none;
  }

  #mobile {
    display: flex;
  }

  #mobile ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .gallery {
    max-width: 500px;
  }
}

.lodge-container {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.lodge-preview {
  width: 100%;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.lodge-preview:hover {
  cursor: pointer;
}

.lodge-preview h3 {
  text-transform: uppercase;
}

.lodge-preview img {
  width: 30%;
}

.lodge-preview-desc {
  float: right;
  width: 65%;
  margin-left: 1em;
}

.gallery-fs-image {
  position: absolute;
  height: 100vh;
  min-height: 100vh;
  width: 97.8vw;
  background: #000000b8;
  text-align: center;
  padding: 1em;
  visibility: hidden;
  cursor: pointer;
}

.gallery-fs-image img {
  height: 95vh;
}